.contact {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: dashed 1px lightgray;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;
}

.contact .submit {
    width: auto;
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    margin: 20px 0px 20px 0px;
    color: #966909;
    font-family: inherit;
    font-size: 1em;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px #966909;
}

.contact .submit:hover, .contact .submit:active {
    background-color: #b3b62a;
    border: 1px solid #966909;
    color: white;
}

.contact p {
    width: 90%;
    margin: 5px 0px 3px 0px;
    text-align: right;
}

@media (min-width: 600px) {
    .contact {
        width: 500px;
    }
}