.item {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}

.item a {
    color: white;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    display: block;
}

.item a:hover,
.item a:active,
.item a.active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
}

@media (min-width: 500px) {
    .item {
        margin: 0;
        display: flex;
        width: auto;
        align-items: center;
    }
    
    .item a {
        padding: 16px 10px;
        border: 4px solid transparent;
    }
}