.burgerPreview {
    width: 100%;
    height: 250px;
    overflow: scroll;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 500px) {
    .burgerPreview {
        width: 450px;
        height: 300px;
    }
}

@media (min-height: 400px) {
    .burgerPreview {
        width: 450px;
        height: 300px;
    }
}

@media (max-width: 499px) {
    .burgerPreview {
        width: 350px;
        height: 250px;
    }
}

@media (max-height: 399px) {
    .burgerPreview {
        width: 350px;
        height: 250px;
    }
}